
body {
    width: 100%;
    height: 100%;
    margin:0;
    overflow: visible;
    overflow-y: auto;
    overflow-x: hidden;
}
#wallpaper {
    width: 100vw;
    height: 100vh;
    top: 0;
    background: url("./img/background.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    z-index: -100;
    position: fixed;
}
#content {
    text-align: center;
}
nav {
    display: fixed;
    text-align: right;
    margin-right: env(safe-area-inset-right);
}
nav li {
    display: inline;
    color: white;
    font-weight: bold;
    font-size: 20px;
    margin-right: 10px;
}
nav li:active {
    color: #999999;
}
#home {
    display: block;
    width: 100%;
    height: 100%;
    text-align: center;
    margin-top: calc(50vh - 260px);
}


#avatar {
    width: 300px;
    border-radius: 50%;
    border: solid yellowgreen 5px;
    background-color: #ffffff;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.4);
}
#name {
    color: #333333;
    width: 100%;
    top: 60%;
    text-align: center;
    margin: 10px 0 0 0;
    font-size: 50px;
}
#bio {
    color: #555555;
    width: 100%;
    top: 65%;
    text-align: center;
    margin: 8px 0 0 0;
    font-size: 20px;
    font-weight: 500;
}

#about {
    display: none;
    background: #ffffff;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.4);
    width: 890px;
    margin-top: 70px;
    margin-bottom: 60px;
    text-align: left;
    padding: 30px;
    margin-top: calc(50vh - 270px);
}
#about p {
    margin: 5px 0 3px 0;
    color: #777777;
    font-weight: 600;
}
#about h2 {
    margin: 0;
}
#about ul {
    list-style-type: none;
    padding: 0;
}
#about li {
    display: inline-block;
    width: 49%;
    margin-bottom: 8px;
}
#about a, a:visited {text-decoration: none; color: yellowgreen;}
#about span {
    color: yellowgreen;
    font-size: 22px;
    font-weight: 600;
}
@media all and (max-width: 1000px) {
    #about {
        width: calc(95% - 60px - env(safe-area-inset-left) - env(safe-area-inset-right));
    }
}
@media all and (max-width: 500px) {
    #about li {
        width: 99%;
    }
    #about {
        margin-top: calc(50vh - 340px);
    }
    #avatar {
        width: 60%;
    }
    #bio {
        font-size : 4vw;
    }
    #name {
        font-size : 10vw;
    }
    #home {
        margin-top : calc(50vh - 30% - 110px);
    }
}
@media all and (max-height: 600px) {
    #avatar {
        width: 50vh;
    }
    #home {
        margin-top: 6.7vh;
    }
    #name {
        font-size: 8vh;
    }
    #bio {
        font-size: 3.3vh;
    }
    #about {
        margin-top: 30px;
        margin-bottom: 60px;
    }
    nav ul {
        margin-top: 2.6vh;
        margin-bottom: 2.6vh;
    }

}