html {
    scroll-behavior: smooth;
}
body {
    margin:0;
    font-family: Helvetica, Arial, sans-serif;
}
#background {
    width: 100vw;
    height: 100vh;
    top: 0;
    position: fixed;
    background: url("./img/background.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
#home {
    display: block;
    width: 100%;
    text-align: center;
    margin-top: calc(50vh - 260px);
    margin-bottom: 100px;
}
#avatar {
    width: 300px;
    border-radius: 50%;
    border: solid #053259 5px;
    background-color: #eeeeee;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.4);
}
#name {
    color: #ffffff;
    width: 100%;
    top: 60%;
    text-align: center;
    margin: 10px 0 0 0;
    font-size: 50px;
}
#bio {
    color: #888888;
    width: 100%;
    top: 65%;
    text-align: center;
    margin: 8px 0 0 0;
    font-size: 20px;
    font-weight: 600;
}
#about {
    display: flex;
    max-width: 700px;
    margin: auto;
    flex-wrap: wrap;
    margin-bottom: 100px;
    flex-basis: auto;
    padding: 10px;
}
.card {
    border-radius: 4px;
    justify-content: center;
    flex-grow: 1;
    flex-shrink: 1;
    background-color: #ffffff;
    margin: 10px;
    padding: 5px 20px;
    min-width: 80px;
    color: #000000;
    text-align: left;
    box-shadow: 0 0 4px rgba(0,0,0,0.4) !important; 
}
.card h1 {
    display: inline-block;
    margin: 15px 0;
}
.card h2 {
    color: #555555;
    margin: 15px 0;
}
#about a, a:visited {text-decoration: none; color: #000000;}
#about a:hover {color: #9370DB;}
#about span {
    font-size: 1.5em;
    font-weight: 600;
    color: #666666
}

@media all and (max-width: 500px) {
    #avatar {
        width: 60%;
    }
    #bio {
        font-size : 4vw;
    }
    #name {
        font-size : 10vw;
    }
    #home {
        margin-top : calc(50vh - 30% - 130px);
        margin-bottom : 20vw;
    }
}
@media all and (max-height: 600px) {
    #avatar {
        width: 50vh;
    }
    #home {
        margin-top: calc(6.7vh + 10px);
    }
    #name {
        font-size: 8vh;
    }
    #bio {
        font-size: 3.3vh;
    }
}
